<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.pds.mapper.PdsMapper">

	<select id="count">
		SELECT
		    COUNT(IDX) AS CNT
		FROM
		    BOARD
		 <where>
	    <if test="menu_id != null and menu_id != ''">
	      AND MENU_ID = #{ menu_id }   
	    </if> 
	    <if test="searchType != null and searchType != '' 
	        and keyword != null and keyword != ''">
	      AND ${searchType}  Like '%' || #{ keyword } || '%'   
	    </if> 	   
	  </where>
	</select>
	
	<select id="getPdsList">
	SELECT
	    idx,
	    menu_id,
	    title,
	    writer,
	    (select count(FILE_NUM) from FILES F
	        WHERE B.IDX = F.IDX) filescount,
	    TO_CHAR(REGDATE,'YYYY-MM-DD') regdate,
	    hit
	FROM
	    board B
	<where>
		<if test="menu_id != null and menu_id != ''"> AND MENU_ID = #{menu_id} </if>
		<if test="searchType != null and searchType != '' and keyword != null and keyword != ''"> AND ${searchType} Like '%' || #{ keyword } || '%' </if>
	</where>
	ORDER BY idx desc
	OFFSET #{offset} ROWS FETCH NEXT #{numOfRows} ROWS ONLY
	</select>
	
	<insert id="setWrite">
		insert into Board 
		(IDX,MENU_ID,TITLE,CONTENT,WRITER) 
		values 
		((SELECT NVL(MAX(idx), 0) + 1 FROM Board),
		 #{menu_id},#{title},#{content},#{writer})
	</insert>
	
	<insert id="setFileWriter">
    <foreach collection="fileList" item="file" index="i" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
        INTO FILES VALUES (
            ( SELECT NVL( MAX( FILE_NUM), 0) FROM FILES ) + #{i} + 1,
            ( SELECT MAX( IDX ) FROM BOARD ),
            #{file.filename},
            #{file.fileext},
            #{file.sfilename}
        )
    </foreach>
	</insert>
	
	<update id="setReadCountUpdate">
		update Board set hit = hit + 1 where IDX = #{idx}
	</update>
	
	<select id="getPds">
		select * from Board where idx = #{idx}
	</select>
	
	<select id="getFile">
		select * from Files where idx = #{idx}
	</select>
	
	<select id="getFileInfo">
		select * from Files where file_num = #{file_num}
	</select>
	
	<delete id="delete">
		delete from Board where IDX = #{idx}
	</delete>
	
	<delete id="filedelete">
		delete from Files where IDX = #{idx}
	</delete>
	
</mapper>
