<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.user.mapper.UserMapper">
	
	<select id="getUserList">
		select * from TUSER order by upoint asc
	</select>
	
	<select id="finduser">
		select * from TUSER where userid = #{userid}
	</select>
		
	<insert id="insertuser">
		INSERT INTO TUSER (userid,passwd,username,email,upoint) VALUES (#{userid},#{passwd},#{username},#{email},upoint.NEXTVAL)
	</insert>
	
	<update id="updateuser">
		UPDATE TUSER SET username = #{username}, passwd = #{passwd}, email = #{email} WHERE userid = #{userid}
	</update>
	
	<update id="updateuser2">
		UPDATE TUSER SET username = #{username}, passwd = #{passwd}, email = #{email} WHERE userid = #{userid} AND passwd = #{oldpwd}
	</update>
	
	<delete id="deleteuser">
		delete from TUSER where userid = #{userid}
	</delete>
	
	<select id="getIdDupCheck">
		select * from TUSER where userid = #{userid}
	</select>
</mapper>
